/* -------------- GRADIENT OVER BACKGROUND IMAGE --------------------------
---------------------------------------------------------------------------
------------------------------------------------------------------*/

body {
    margin: 0;
    padding: 0;
    background: url('Images/background_image.jpg') repeat;
}

body:before {
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom right,rgba(16, 85, 170, 0.78),rgba(38, 190, 208, 0.82), rgba(237, 87, 87, 0.67),rgba(244, 92, 201, 0.58),rgba(237, 197, 81, 0.60), rgba(88, 235, 11, 0.72),rgba(237, 87, 87, 0.79),rgba(51, 49, 227, 0.56), rgba(38, 190, 208, 0.90));
    background-repeat: repeat;
}

/* --------------------------------------TEXT OVER LIST ITEM IMAGES (STORY OVER IMAGES) ---------
------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------- */


div { 
    position: relative; 
    width: 100%; /* for IE 6 */
    text-align:center;
 }
 
div img{
    border-radius: 20%;
    width: 50%;
    height: 50%;
    border: 4px solid rgba(12, 12, 132, 0.88);
 }
 

 div li { 

    position: absolute; 
    top: 50%; 
    left: 20%; 
    width: 50%;
    text-align:center;
    
    color: white; 
    font-family: 'Sigmar One', cursive;
    font-size: 30px;
    letter-spacing: -1px;  
    background: rgba(63, 132, 229, 0.56); fallback color 
    background: rgba(57, 120, 198, 0.70);
    padding:10px;
    border: 3px dotted black;
 }

 /* ----------------------------------FIXED HEADER/NAVIGATION------------------------ ---------
------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------- */
 
nav {
    height:50px;
    width:100%;
    margin:0px auto;
    position: fixed;
 } 


nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding-right: 8px;
    padding-top: 8px;
}

nav li { 
    border-right: 1px solid #000000;
    padding-top: 3px;
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 27px;
 }

.nav_page {
    display: block;
    width:100%;
    position:fixed;
    top:0px;
    text-align: right;
 }

 /* ----------------------------------ABOUT NIKOLAI SECTION ------------------------ ---------
------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------- */
.nikolai {
    margin-bottom: 80px;
}


h1 {
    color: white; 
    font-family: 'Sigmar One', cursive;
    font-size: 90px;
    letter-spacing: -1px; 
    text-align: center;
    display: block;
    margin-top: 110px;
    margin-bottom: 30px;
}

section p {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}


#video {
    padding-top: 50px;
    display: inline-block;
    margin: 0 40%;
}

.go {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.go a {
    text-decoration: none;
    color: black;
}
 /* ----------------------------------STORY SECTION ------------------------ ---------
------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------- */

h2 {
    font-family: 'Sigmar One', cursive;
    font-size: 120px;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px; 

}

ul div {
    padding-bottom: 20px;
}

 /* ----------------------------------FOOTER---------------------- ------------------------ ---------
------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------- */
footer {
    margin: 0 36%;
}

footer ul li {
    display: inline-block;
    float: left;
}

#instagram {
    padding-top:30px;
}

#twitter {
    padding-top:30px;
    padding-left: 50px;
}
